/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-top: 80px !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.shoutbox {
	max-height: 200px;
	overflow: auto;
}
.card-body-s {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.02rem;
}
iframe {
	border: 0;
	width: 100%;
	min-height:220px;
}
body {
	overflow-x: hidden !important;
}

.text-red {
    color: #ff0039
}

.text-green {
    color: #3fb618
}

.text-orange {
    color: #ff7518
}

.text-blue {
    color: #2780e3
}

.text-yellow {
    color: #d5d206
}

.text-pink {
    color: #f92672
}

.text-gold {
    color: #ffb800
}

.text-black {
    color: #111111
}

.text-purple {
    color: #9400d3
}

.estates {
  width: 18%;
  height: auto;
}

.postContainer {
    width:100%;
    display:table-row;
}
.postUserInfo,.postBlankDiv {
    width:160px;
    display:table-cell;
}
.postUserInfo {
    padding-top:10px;
    vertical-align: top;
}
.postContentContainer {
    display:table-cell;
    width:650px;
    vertical-align: top;
    padding-top:20px;
    padding-bottom: 20px;
    font-family: Arial,sans-serif;
    font-size: 10pt;
}
.postFooterRow {
    display:table-row;
    width:100%;
    border-bottom: 1px solid #92a6af;
}

.postFooter {
    display:table-cell;
    width:690px;
}
.postFooterContainer {
    display:table-row;
}
.postInfo {
    display:table-cell;
    text-align:left;
    width:430px;
    font-family: 'Roboto';
    font-size:9.5pt;
    padding-bottom: 10px;
}
.postButtons {
    display:table-cell;
    text-align:right;
    font-family: 'Roboto';
    font-size: 10pt;
    width:270px;
    padding-bottom:20px;
}
.postUserInfo p {
    margin: 0;
    font-size: 9pt;
}
.postUsername {
    font-weight: bold;
}
.postAvatarDiv,.postUsername,.textCenter {
    text-align:left;
}
.postRatio {
    font-weight: 500;
}
.postEdited {
    font-style: italic;
}
.postAvatar {
    /*max-height:120px;*/
    max-width:120px;
}



.checked {
  color: orange;
}
.rating-card h1{
	color:#337AB7;
	margin-bottom:30px;
}
.rating{
	width: 50%;
	float:left;
}
.rating p{
	margin-top:10px;
	font-size: 20px;
}
.rating h2{
	margin:0px;
	font-size:60px;
	font-weight: normal;
}
.rating-process{
	width: 50%;
	text-align: left;
	float:right;
}
.rating-right-part{
	margin-bottom:3px;
}
.rating-right-part p{
	margin:0px;
}
